# Diff Configuration for my_database.users

######################### Global config #########################
# 检查数据的线程数量，上下游数据库的连接数会略大于该值
check-thread-count = {{.thread_count}}

# 如果开启，若表存在不一致，则输出用于修复的 SQL 语句。
export-fix-sql = true

# 只对比表结构而不对比数据
check-struct-only = false

######################### Datasource config #########################
[data-sources]
[data-sources.tidbmaster] # tidbmaster 是该数据库实例唯一标识的自定义 id，用于下面 task.source-instances/task.target-instance 中
    host = "{{.master_ip}}"
    port = {{.master_port}}
    user = "{{.master_user}}"
    password = "{{.master_password}}"
    snapshot = "auto"
    sql-hint-use-index = "auto"
    session.tidb_opt_prefer_range_scan = 1

[data-sources.tidbbak] #tidbbak 是该数据库实例唯一标识的自定义 id
    host = "{{.slave_ip}}"
    port = {{.slave_port}}
    user = "{{.slave_user}}"
    password = "{{.slave_password}}"
    snapshot = "auto"
    sql-hint-use-index = "auto"
    session.tidb_opt_prefer_range_scan = 1
    session.tidb_enable_external_ts_read = 0

######################### Task config #########################
# 配置需要对比的*目标数据库*中的表
[task]
    output-dir = "{{.output_dir}}"
    source-instances = ["tidbmaster"]
    target-instance = "tidbbak"
    target-check-tables = ["my_database.users"]
    target-configs = ["config1"]

[table-configs.config1]
    target-tables = ["my_database.users"]
    chunk-size = {{.chunk_size}}
    range = "1 = 1"
